<%- include("partials/header"); -%>

<section class="section-padding pt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <% if (posts.length === 0) { %>
          
          <p>No posts available.</p>
        <% } else { %>
          <% posts.forEach(function(post) { %>
            <div class="panel panel-info">
            <article class="post-grid mb-2">

              <div class="panel-heading">
              <h2 class="mb-1 mt-2 post-title">
                <a href="/posts/<%= post.id %>"><%= post.title %></a>
              </h2>
            </div>

              <div class="panel-body">
              <span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra"><%= post.subject %></span>
            </div>

              <div class=" panel-body post-content mt-4 pb-5">
                <p><%= post.content.substring(0, 250) + " ... " %><a class="read-more" href="/posts/<%= post.id %>">Read More</a></p>
              </div>
            </article>
          </div>
          <% }); %>
        <% } %>
      </div>
    </div>
  </div>   
</section>

<%- include("partials/footer"); -%>
